<!DOCTYPE html>
<html>
<head>
  <title>My Express Server</title>
</head>
<body>
  <h1>Hello Node.JS</h1>
  <form id="greetForm" action="/greet" method="get">
    <input type="text" id="nameInput" name="q" placeholder="Enter your name">
    <button id="submitButton" type="submit">Greet Me!</button>
  </form>
</body>
</html>
